<div
  class="block w-full max-w-85 overflow-clip rounded-lg bg-white shadow-[0_1px_3px_rgba(0,0,0,0.10),0_1px_2px_rgba(0,0,0,0.06)]"
>
  <div class="relative h-72 w-full overflow-clip">
    <img
      [alt]="imageAlt()"
      [ngSrc]="imageFilename()"
      class="object-cover"
      fill
      placeholder
      priority
      sizes="min(21.25rem, 100vw)"
    />
  </div>
  <div class="px-4 py-6">
    <app-badge>{{ badge() }}</app-badge>
    <h2 class="mt-2 text-lg font-semibold text-neutral-900">{{ title() }}</h2>
    <p class="mt-3 font-medium text-neutral-600">{{ description() }}</p>
    <app-link [url]="postUrl()" class="mt-6">Read more</app-link>
  </div>
</div>
